<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Nebula E-library Admin dashboard</title>

    <!-- Site favicon -->
    <link rel="logo15" sizes="180x180" href="~/admin/vendors/images/logo15.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/admin/vendors/images/logo15.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/admin/vendors/images/logo15.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/vendors/styles/style.css">
    <link rel="stylesheet" type="text/css" href="~/admin/src/styles/override.css">

    @await RenderSectionAsync(name: "Style", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    @* header *@
    @{await Html.RenderPartialAsync("~/Views/Shared/_Header.cshtml"); }
    @* end of header *@

    @*left side bar *@
    @{await Html.RenderPartialAsync("~/Views/Shared/_LeftSideBar.cshtml");}
    @*end of left side bar *@

    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">               
             @RenderBody()
            <div class="footer-wrap pd-20 mb-20 card-box">
                <i class="fa fa-copyright" aria-hidden="true">  </i>
                2021 Nebula E-library. All rights reserved.
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="~/admin/vendors/scripts/core.js"></script>
    <script src="~/admin/vendors/scripts/script.min.js"></script>
    <script src="~/admin/vendors/scripts/process.js"></script>
    <script src="~/admin/vendors/scripts/layout-settings.js"></script>
    @await RenderSectionAsync(name: "Scripts", required: false)
</body>
</html>