@*@model Nebula.VM.HomeVm;*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->

    <title>Superb premium HTML5 &amp; CSS3 template</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/User/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/internal.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/User/css/simple-line-icons.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/User/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/jquery.mobile-menu.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/revslider.css">
    <link rel="stylesheet" type="text/css" href="~/User/css/style.css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600,600italic,400italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body class="cms-index-index index">
    <div id="page">
        <!-- Header -->
        <header>
            <div class="header-container">
            </div>
        </header>
        <!-- end header -->
        <!-- Navbar -->
        <nav style="margin-bottom: 80px;">
            <div class="container">
                <!-- Header Logo -->
                <div class="logo"><a title="Datson" href="index.html"><img alt="Datson" src="~/User/images/logo1.png"></a></div>
                <!-- End Header Logo -->
            </div>
        </nav>
        @RenderBody()
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 coppyright">&copy; 2021 Nebula. All Rights Reserved.</div>
                    </div>
                </div>    
    <script type="text/javascript" src="~/User/js/cloud-zoom.js"></script>
    <script type="text/javascript" src="~/User/js/parallax.js"></script>
    <script type="text/javascript" src="~/User/js/jquery.flexslider.js"></script>
</body>
</html>
